pdc-status-test.opentechstrategies.com, status.test.philanthropydatacommons.org, status.test.api.philanthropydatacommons.org, status.test.app.philanthropydatacommons.org, status.test.admin.philanthropydatacommons.org, status.test.exchange.philanthropydatacommons.org, status.test.auth.philanthropydatacommons.org, status.test.auth.test.philanthropydatacommons.org
{
    reverse_proxy gatus:8080
}