pdc-status-test.opentechstrategies.com, status.philanthropydatacommons.org, status.api.philanthropydatacommons.org, status.app.philanthropydatacommons.org, status.admin.philanthropydatacommons.org, status.exchange.philanthropydatacommons.org, status.auth.philanthropydatacommons.org, status.auth.test.philanthropydatacommons.org, status.pdc-utilities.opentechstrategies.com {
    reverse_proxy gatus:8080
}